.dialog-room {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-room__container {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #ffffff;
    border-radius: 8px;
}
