.message {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.message_justify-end {
  justify-content: flex-end;
}

.message_justify-start {
  justify-content: flex-start;
}

.message__user-name {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.user-name_padding-left-10 {
  padding-left: 10px;
}

.user-name_padding-right-10 {
  padding-right: 10px;
}

.message-box {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 0px 10px 3px 10px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.message-box_background-orange {
  background: #f8911c;
}

.message-box_background-light {
  background: #f3f3f3;
}

.message-text {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.message-text img {
  vertical-align: middle;
}

.message-text_color-white {
  color: white;
}

.message-text_color-dark {
  color: #353535;
}
