* {
    box-sizing: border-box;
}

.login-page {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
}

.login-page__container {
    width: 100%;
    height: 100%;
    background-color: #1a1a1d;
}

.input-container {
    margin: auto;
    width: 30%;
}

.input-container__input {
    padding: 15px 20px;
    margin-bottom: 40px;
    width: 100%;
}

.container__header {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.join-button-container__button {
    width: 100%;
    padding: 20px;
}

.button {
    display: inline-block;

    background: #f8911c;

    border: none;

    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
}

.button__margin-top-20 {
    margin-top: 20px;
}

button:focus {
    outline: 0;
}
